<body>
  <style>

    .copyRight{
          color: #06044B;
    font-size: 0.9rem;
    font-weight: 500;
    }

    .f-info:hover{
      cursor :pointer;
    }

  </style>
  <div class="main-content">
    <!-- Your main page content goes here -->
  </div>

  <footer>
    <div class="f-info">
      <div class="f-info-socials">
        <i class="fa-brands fa-square-facebook"></i>
        <i class="fa-brands fa-square-instagram"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>

      <div class="f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
      </div>

      <div class="f-info-brand copyRight">
        &copy; Ajay Kumar 2025 All Rights Reserved
      </div>
    </div>
  </footer>
</body>
